<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-searchbar color="light" class="ion-searchtext"
                   cancelButtonText="Annuler"
                   placeholder="Rechercher un profil"
                   showCancelButton="focus"
                   [(ngModel)]="filterTerm" animated="true"
                   (ionInput)="onSearchInput($event)"
                   (ionCancel)="onSearchCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-title *ngFor="let user of users | filter: filterTerm as filtered">Total des profils: {{filtered.length}}&nbsp;profils</ion-title>
  </ion-header>


  <div class="padding">
    <ion-list lines="full" *ngFor="let user of users | filter: filterTerm as filtered">
      <ion-item (click)="sawDetail(this.user)">
        <ion-avatar>
          <img alt="photo" src="{{user.file}}">
        </ion-avatar>
        <ion-label>
          <h2> {{user.nom}} {{user.prenom}} </h2>
          <p>{{user.nom_emploi}}</p>
          <p>{{user.code_post}} {{user.ville}} </p>
        </ion-label>
        <ion-item lines="none"  button detail="true" ></ion-item>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

