<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-searchbar color="light" class="ion-searchtext"
                   cancelButtonText="Annuler"
                   placeholder="Rechercher un profil"
                   showCancelButton="focus"
                   [(ngModel)]="filterTerm" animated="true"
                   (ionInput)="onSearchInput($event)"
                   (ionCancel)="onSearchCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-title *ngFor="let user of userService.users | filter: filterTerm as filtered">{{filtered.length}} profil(s)</ion-title>
    </ion-header>
    <div class="padding">
  <ion-list id="d" lines="full">
    <ion-item [routerLink]="'/detail/' + user.id" detail="true" *ngFor="let user of userService.users | filter:filterTerm as filtered">
      <ion-avatar>
        <img alt="photo" src="{{user.img}}">
      </ion-avatar>
      <ion-label  class="short-version">
        <h2>{{user.name}}  </h2>
        <p>{{user.job}}</p>
        <p>{{user.town}} </p>
      </ion-label>
    </ion-item>
  </ion-list>
    </div>
</ion-content>
