<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-searchbar color="light" class="ion-searchtext"
                   cancelButtonText="Annuler"
                   placeholder="Rechercher un profil"
                   showCancelButton="focus"
                   [(ngModel)]="filterTerm" animated="true"
                   (ionInput)="onSearchInput($event)"
                   (ionCancel)="onSearchCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-title *ngFor="let user of userService.users | filter: filterTerm as filtered"> {{filtered.length}}&nbsp;profils</ion-title>
  </ion-header>


  <div class="padding">
    <ion-list lines="full" *ngFor="let user of userService.users| filter: filterTerm as filtered">
      <ion-item>
        <ion-avatar>
          <img alt="photo" src="{{user.img}}">
        </ion-avatar>
        <ion-label>
          <h2> {{user.name}} </h2>
          <p>{{user.job}}</p>
          <p>{{user.town}} </p>
        </ion-label>
        <ion-item lines="none" [routerLink]="'/detail/' + user.id" button detail="true" ></ion-item>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

