ion-content {
  --ion-background-color: #fff;
}

ion-item {
  --ion-background-color: transparent!important;
}

.padding {
  padding: 5%;
}

.logo{
  height:200px;
  position: relative;
}
.logo img {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

ion-title{
  color: #00a3d9;
}
ion-item{
  color: #00a3d9;
}
.connexion{
  background-color: #00a3d9;
  border-radius: 12px;
}

.inscription{
  background-color: #000;
  border-radius: 12px;
}

ion-card-content{
  font-weight:800;
  margin:2em 0;
  ion-card-title{
    color:#00a3d9;
    text-align: center;
  }

}
