
.my-label{
  font-size:.7em;
}

#delete{
  position: absolute;
  left: 30px;
  top: 0;
}

ion-checkbox::part(container){
  --size: 17px;
}

ion-header{
  background-color: #00a3d9;
  padding: 5px;
}

ion-searchbar{
  padding-top: 0.5em;
}

.size{
  width:15px;
  height:15px;
}

ion-thumbnail{
  margin-bottom:10px;
  --border-radius : 20%;
}


#logement{
  height:3em;
}
