<ion-header [translucent]="true">
  <ion-toolbar color='primary'>
    <ion-searchbar color="light" class="ion-searchtext" cancelButtonText="Annuler"
                   placeholder="Rechercher"
                   [showCancelButton]="true"
                   (ionInput)="onSearchInput($event)"
                   (ionCancel)="onSearchCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
  </ion-header>
  <ion-toolbar></ion-toolbar>
  <form>
    <ion-item lines="none">
      <ion-label class="my-label">Photo de profil</ion-label>
    </ion-item>
    <ion-item lines="full">
      <span>
         <ion-icon id="delete" name="trash-outline"></ion-icon>
         <ion-thumbnail slot="start">
           <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="avatar de profil"/>
         </ion-thumbnail>
      </span>

    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Nom</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Prénom</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Ville</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Poste</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Société</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="stacked">Date de naissance</ion-label>
      <ion-input type="date"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="my-label">Photo de ma carte de visite</ion-label>
    </ion-item>

    <ion-item lines="full">
      <span>
         <ion-icon id="delete" name="trash-outline"></ion-icon>
         <ion-thumbnail slot="start">
           <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="avatar de profil"/>
         </ion-thumbnail>
      </span>
    </ion-item>

    <ion-item lines="full">
      <span>
      <ion-label class="my-label">Etes-vous à la recherche d'un emploi ?&nbsp;&nbsp;&nbsp;</ion-label>
      </span>
      <ion-label>O</ion-label>
      <ion-checkbox class="size" id="box" color="primary" (click)="falseFormControl.setValue(false)" [formControl]="trueFormControl"></ion-checkbox>
      <ion-label>N</ion-label>
      <ion-checkbox class="size" color="primary" (click)="trueFormControl.setValue(false)" [formControl]="falseFormControl"></ion-checkbox>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Type de contrat</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Emploi recherché</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Localisation</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Rayon</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Disponibilité</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">//PARTIE IMPORT CV//</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="my-label">Mon CV</ion-label>
    </ion-item>

    <ion-item lines="full">
      <span>
         <ion-icon id="delete" name="trash-outline"></ion-icon>
         <ion-thumbnail slot="start">
           <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="avatar de profil"/>
         </ion-thumbnail>
      </span>

    </ion-item>

    <ion-item lines="full">
      <span>
      <ion-label class="my-label">Etes-vous à la recherche d'un logement ?&nbsp;</ion-label>
      </span>
      <ion-label>O</ion-label>
      <ion-checkbox class="size" id="box" color="primary" (click)="falseFormControl.setValue(false)" [formControl]="trueFormControl"></ion-checkbox>
      <ion-label>N</ion-label>
      <ion-checkbox class="size" color="primary" (click)="trueFormControl.setValue(false)" [formControl]="falseFormControl"></ion-checkbox>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Transaction</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Type</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Localisation</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Rayon</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Surface min</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Nombre de pièce(s) min</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label class="my-label" position="floating">Prix min</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="secondary" expand="block">Enregistrer</ion-button>
        <ion-button [routerLink]="['/login']" type="submit" color="medium" expand="block">Déconnexion</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
