<ion-header [translucent]="true">
  <ion-toolbar color='primary'>
    <ion-searchbar color="light" class="ion-searchtext" cancelButtonText="Annuler"
                   placeholder="Rechercher"
                   [showCancelButton]="true"
                   (ionInput)="onSearchInput($event)"
                   (ionCancel)="onSearchCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-toolbar></ion-toolbar>

</ion-content>
